<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="SystemPermissionsInfoService" class="com.cgz.capa.services.SystemPermissionsInfoService">
        <constructor-arg
                value="https://raw.githubusercontent.com/android/platform_frameworks_base/master/core/res/AndroidManifest.xml"/>
    </bean>
</beans>